<div class="content container-fluid">
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title">Vocabulary Manger</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Vocabulary</a></li>
          <li class="breadcrumb-item active">{{titleHead}} Vocabulary</li>
        </ul>
      </div>
    </div>
</div>

  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <form #form=ngForm (ngSubmit)="formFo(form)">
            <div class="row">
              <div class="col-12">
                <h5 class="form-title"><span>Details</span></h5>
              </div>

              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Language<span style="color:red">*</span></label>
                  <select class="form-control" #language="ngModel" name="language" [(ngModel)]="model.language" >
                      <option *ngFor="let item of lang" [value]="item.id">{{ item.language }}</option>
                    </select>
                </div>
              </div>

              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Title</label>
                  <input type="text" name="title" [(ngModel)]="model.title" class="form-control" required>
                </div>
              </div>


              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Date</label>
                  <input type="date"  name="dob" [(ngModel)]="model.date" class="form-control">
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Description<span style="color:red">*</span></label>
                  <input type="textarea"  name="mobile" #mobile="ngModel" [(ngModel)]="model.description" class="form-control" required>
                </div>
              </div>
              <input type="hidden" name="id" [(ngModel)]="model.id">
              <div class="col-12">
                <button type="submit" [disabled]="!form.valid" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
